.storyNextButton {
  display: flex;
  background-color: #fff;
  position: absolute;
  padding: 4px;
  border-radius: 100%;
}

.gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  background: linear-gradient(to right, rgb(255, 13, 235), orange);
  padding: 3px;

  &-gap {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: white 2px solid;
  }
}

.gradient-off {
  display: flex;
  position: relative;
  border-radius: 50%;
  padding: 3px;
}
